In [1]:
import pandas as pd
import numpy as np

In [2]:
# 0 - Female / 1 - Male

data = np.array([
    [182.88, 81.64, 45.72, 1],
    [180.44, 86.17, 41.91, 1],
    [170.07, 77.10, 45.72, 1],
    [180.44, 65.76, 38.10, 1],
    [152.40, 45.35, 34.29, 0],
    [167.64, 58.96, 36.19, 0],
    [179.83, 68.03, 37.33, 0],
    [175.26, 63.49, 38.10, 0],
])

df = pd.DataFrame(data, columns=["height", "weight", "foot", "gender"])
display(df)

   height  weight   foot  gender
0  182.88   81.64  45.72     1.0
1  180.44   86.17  41.91     1.0
2  170.07   77.10  45.72     1.0
3  180.44   65.76  38.10     1.0
4  152.40   45.35  34.29     0.0
5  167.64   58.96  36.19     0.0
6  179.83   68.03  37.33     0.0
7  175.26   63.49  38.10     0.0

In [3]:
def means_stds(df, columns, target):
    means_std = {}

    mean_0 = []
    std_0 = []
    mean_1 = []
    std_1 = []
    
    for i in columns:
        mean_0.append(df[df[target] == 0][i].mean())
        mean_1.append(df[df[target] == 1][i].mean())

        std_0.append(df[df[target] == 0][i].std())
        std_1.append(df[df[target] == 1][i].std())

    means_std["mean_0"] = mean_0
    means_std["mean_1"] = mean_1

    means_std["std_0"] = std_0
    means_std["std_1"] = std_1
    
    return means_std

In [4]:
from scipy.stats import norm

def normpdf(x, mean, std):
    '''var = std ** 2
    denom = std * ((2 * np.pi) ** 0.5)
    num = np.exp(-(x - mean) ** 2 / (2 * var))
    return num / denom'''
    
    return norm.pdf(x, mean, std)

In [5]:
def continuous_data(x, mean, std):
    aux = []
    
    for i in range(len(x)):
        print(i, normpdf(x[i], mean[i], std[i]))
        aux.append(normpdf(x[i], mean[i], std[i]))
        
    aux.append(0.5)
        
    return np.prod(aux)

In [6]:
x = np.array([175, 75, 38])

columns = ["height", "weight", "foot"]

means_std = means_stds(df, columns, "gender")
print(means_std)

female = continuous_data(x, means_std["mean_0"], means_std["std_0"])
male = continuous_data(x, means_std["mean_1"], means_std["std_1"])

print(male, female)
print("Male") if male > female else print("Female")

{'mean_0': [168.7825, 58.9575, 36.4775], 'mean_1': [178.45749999999998, 77.6675, 42.8625], 'std_0': [12.023544610471571, 9.798263026339583, 1.6560067431424714], 'std_1': [5.708744024155695, 8.75944965927274, 3.647797280551647]}
0 0.0290276371964104
1 0.01065755183638047
2 0.1578708883635401
0 0.058172447535766794
1 0.043480603201713694
2 0.04498161176706322
5.688763959198938e-05 2.4419749083584127e-05
Male

## Discrete

In [7]:
data = np.array([
    ["youth", "high", "no", "fair", "no"],
    ["youth", "high", "no", "excellent", "no"],
    ["middle-aged", "high", "no", "fair", "yes"],
    ["senior", "medium", "no", "fair", "yes"],
    ["senior", "low", "yes", "fair", "yes"],
    ["senior", "low", "yes", "excellent", "no"],
    ["middle-aged", "low", "yes", "excellent", "yes"],
    ["youth", "medium", "no", "fair", "no"],
    ["youth", "low", "yes", "fair", "yes"],
    ["senior", "medium", "yes", "fair", "yes"],
    ["youth", "medium", "yes", "excellent", "yes"],
    ["middle-aged", "medium", "no", "excellent", "yes"],
    ["middle-aged", "high", "yes", "fair", "yes"],
    ["senior", "medium", "no", "excellent", "no"],
])

df = pd.DataFrame(data, columns=["age", "income", "student", "credit", "buy"])
display(df)

            age  income student     credit  buy
0         youth    high      no       fair   no
1         youth    high      no  excellent   no
2   middle-aged    high      no       fair  yes
3        senior  medium      no       fair  yes
4        senior     low     yes       fair  yes
5        senior     low     yes  excellent   no
6   middle-aged     low     yes  excellent  yes
7         youth  medium      no       fair   no
8         youth     low     yes       fair  yes
9        senior  medium     yes       fair  yes
10        youth  medium     yes  excellent  yes
11  middle-aged  medium      no  excellent  yes
12  middle-aged    high     yes       fair  yes
13       senior  medium      no  excellent   no

In [8]:
p_buy_yes = len(df[df["buy"] == "yes"]) / len(data)
p_buy_no = len(df[df["buy"] == "no"]) / len(data)
print(p_buy_yes, p_buy_no)

0.6428571428571429 0.35714285714285715

In [9]:
def likelihood(x, df, columns, target):
    res = {}
    uniques = df[target].unique()
    for i in range(len(uniques)):
        calc = np.zeros(len(columns))
        for j in range(len(columns)):
            print(target, uniques[i], j)
            calc[j] = len(df[(df[target] == uniques[i]) & (df[columns[j]] == x[j])]) / len(df[df[target] == uniques[i]])
        res[uniques[i]] = np.prod(calc)
    return res

In [10]:
x = np.array([df["age"], df["income"], df["student"], df["credit"]])
columns = ["age", "income", "student", "credit"]

likelihoods = likelihood(x, df, columns, "buy")
print(likelihoods)

buy no 0
buy no 1
buy no 2
buy no 3
buy yes 0
buy yes 1
buy yes 2
buy yes 3
{'no': 1.0, 'yes': 1.0}

In [11]:
final_no = p_buy_no * likelihoods["no"]
final_yes = p_buy_yes * likelihoods["yes"]

print("No:", final_no)
print("Yes:", final_yes)
print("-------")
print("Buy") if final_yes > final_no else print("Not buy")

No: 0.35714285714285715
Yes: 0.6428571428571429
-------
Buy

In [26]:
dados = pd.read_csv('DATA.txt', sep="   ", header=None, engine='python')
dados.columns = ["gender", "age", "risk_factors", "systolic_bp", "s_hr", "st_segment", "ecg_hr", "creatinine", "killp", "event"]
display(dados)

,gender,age,risk_factors,systolic_bp,s_hr,st_segment,ecg_hr,creatinine,killp,event
0,1.0,33.0,0.0,132.0,92.266205,1.0,90.0,0.8,1.0,0.0
1,1.0,69.0,0.0,147.0,54.178624,0.0,52.0,1.4,1.0,0.0
2,1.0,63.0,0.0,142.0,41.364843,1.0,44.0,1.1,3.0,1.0
3,0.0,79.0,0.0,147.0,107.379000,1.0,110.0,0.9,1.0,1.0
4,0.0,61.0,0.0,107.0,83.224808,0.0,80.0,1.1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
452,1.0,69.0,0.0,95.0,100.960080,0.0,103.0,1.6,3.0,1.0
453,1.0,51.0,1.0,140.0,87.259367,1.0,90.0,1.0,3.0,1.0
454,0.0,57.0,0.0,120.0,114.649890,0.0,117.0,1.0,3.0,1.0
455,1.0,87.0,0.0,149.0,48.788823,1.0,53.0,1.4,1.0,1.0
456,1.0,72.0,0.0,173.0,65.806064,1.0,65.0,1.2,1.0,0.0

In [28]:
def fuse_same_sensors(df):
    s_hr = df["s_hr"]
    ecg_hr = df["ecg_hr"]

    s_hr_std = 2
    ecg_hr_std = 0.5

    hr_final = ((np.power(s_hr_std, 2) / (np.power(s_hr_std, 2) + np.power(ecg_hr_std, 2))) * ecg_hr) + ((np.power(ecg_hr_std, 2) / (np.power(s_hr_std, 2) + np.power(ecg_hr_std, 2))) * s_hr)
    print(hr_final)

    df["hr_final"] = hr_final

In [29]:
fuse_same_sensors(dados)
display(dados)

0       90.133306
1       52.128154
2       43.844991
3      109.845824
4       80.189695
          ...
452    102.880005
453     89.838786
454    116.861758
455     52.752284
456     65.047416
Length: 457, dtype: float64

,gender,age,risk_factors,systolic_bp,s_hr,st_segment,ecg_hr,creatinine,killp,event,hr_final
0,1.0,33.0,0.0,132.0,92.266205,1.0,90.0,0.8,1.0,0.0,90.133306
1,1.0,69.0,0.0,147.0,54.178624,0.0,52.0,1.4,1.0,0.0,52.128154
2,1.0,63.0,0.0,142.0,41.364843,1.0,44.0,1.1,3.0,1.0,43.844991
3,0.0,79.0,0.0,147.0,107.379000,1.0,110.0,0.9,1.0,1.0,109.845824
4,0.0,61.0,0.0,107.0,83.224808,0.0,80.0,1.1,1.0,0.0,80.189695
...,...,...,...,...,...,...,...,...,...,...,...
452,1.0,69.0,0.0,95.0,100.960080,0.0,103.0,1.6,3.0,1.0,102.880005
453,1.0,51.0,1.0,140.0,87.259367,1.0,90.0,1.0,3.0,1.0,89.838786
454,0.0,57.0,0.0,120.0,114.649890,0.0,117.0,1.0,3.0,1.0,116.861758
455,1.0,87.0,0.0,149.0,48.788823,1.0,53.0,1.4,1.0,1.0,52.752284
456,1.0,72.0,0.0,173.0,65.806064,1.0,65.0,1.2,1.0,0.0,65.047416

In [30]:
measurements = np.array([dados["s_hr"], dados["ecg_hr"]])
dp = np.array([2, 0.5])

In [32]:
tau = np.sum(1 / np.power(dp, 2))
s = 1 / tau
print(tau)

4.25

In [33]:
# mean = np.sum(measurements[:, 0] / (tau * np.power(dp, 2)))
valores = np.zeros(len(dados.s_hr))
for i in range(len(dados["s_hr"])):
    valores[i] = (dados['s_hr'][i] / (tau * np.power(dp[0], 2))) + (dados['ecg_hr'][i] / (tau * np.power(dp[1], 2)))
    
print(valores)
dados["hr_final_mult"] = valores
# print("Mean:", mean, " / std:", s)

[ 90.13330618  52.12815435  43.84499076 109.84582353  80.18969459
  70.06480118  89.04626494  73.76289947  73.21040512  70.87472729
  75.08032847  76.17818747  80.03978053  57.05206935  87.92001212
  69.75257371  66.76241718  64.80209012  83.207072    85.78580724
  54.84630547 108.83824412  60.16123576  72.10743676  66.204744
  59.88801935  61.18546076  75.11193376  48.74798912 139.89481176
  66.18791165  90.16937112  68.20588988  66.19011247  63.14689212
  57.1317      73.06878235  81.78984224  97.76991606 100.14761176
  81.87362829  74.80680735  77.05217135  77.12498     68.12165371
  48.20210818  52.04364688  60.79957524  90.16276924  56.07818176
  43.76570218  69.06878294  61.11102512  56.78983582  54.17368229
  70.10630476  89.85417759  87.13122312  66.19836176  75.20038676
  73.103834    69.87285535  72.07067918  60.17814388  67.08605782
  86.79541994  90.07438512 108.09586118  61.078465    84.04070347
  69.80883247  71.19702835  95.08264224  57.11183171  77.04732335
 105.75640647  49.15228059  92.04098247 119.84392882  71.78092971
 106.84670765  47.20427653  79.91587835  59.08347712  66.13799718
  80.04752594  64.03986471 114.77179882  77.864629    80.17430041
  53.12724406  49.88260676 107.15743294  76.14128882  93.09060935
  62.08455665  44.18950929  72.81869141  46.14677188  65.86716282
  60.10328988  68.08694829  66.172283    90.17949447  74.91218406
  81.75721547  54.06419206  90.06092724  49.81229965  80.07891559
  93.16161459  94.87671306  62.21323112  78.81895729  71.13506982
  80.11377506  74.10719088  85.17873182  64.19123965  62.21266029
  68.90681724  77.05429965  68.803385    94.90817065  95.78140476
  65.90110176  72.08020524  73.03990782  89.783643    59.80620965
 110.84342059  85.15320106  74.18408288  68.09903118  88.12606282
  71.21524512  83.16158465  59.75281388  91.84566747  88.17390624
  65.84607053  76.07439065  67.77661924  94.90895729  82.17564559
  62.18108859  76.18514159 113.90713765  52.08079488  68.07806341
  89.82072871  75.04709641  63.86436071 116.76995353  61.04327724
  64.89322994  69.16142871  86.16368553  61.16323476  66.74782888
  69.86809565 100.04480353  96.09326994 103.77428647  69.10140976
  60.10056376  75.15869976  68.15107082  59.77789088  61.10135088
  78.05911982  73.78064347  86.78281641  80.08771924  74.19422112
  74.11272924  76.81691676  84.20717229  54.20711929  64.03968524
  59.10759253 110.74871588  72.76026671  59.04263682  62.11706518
  98.14386882  66.07206047  78.77576718  86.07622371  82.83409706
  63.17019641  76.75798406  91.18453476  49.10122382  70.16176082
  64.77771047  60.07792859  86.13149853  64.11544482  74.91702912
  68.10182359  99.90154888  51.20077841  80.213644    73.75949618
  75.09380676  60.21404047 103.76349359  71.918575    72.21001912
  87.14267171  90.16577518  69.81974388  60.07827924  65.90524276
  90.76956247  85.14932012  82.13743147  91.21417206  80.83181094
  64.07908806  50.16625276  67.80482588  75.89034624  92.91347012
  84.17400524  95.203788    84.12868529  61.07701282  90.06021053
  55.08686524  69.74690682 122.87390118  67.80409135  48.18698935
  90.13245876  62.07228459  89.76931388  85.76646241  90.18333329
  50.10555894  70.08297582  81.18805071  80.10770135  66.20087753
  61.88262288  56.10874565  84.13163118  57.88884729 116.87637529
  83.05015035  79.881653    59.13582782  67.18177971  76.04838194
  90.05301194  71.87442671  67.100243    67.76579618  73.91509029
  64.11148753  48.88958794  57.82151141  78.07542447  74.14811953
  80.19039229  86.08200247 101.77725376  89.90170641  81.10221912
 108.13780412  70.06927924  74.19114247  90.09179253  95.20528694
  64.74931759  79.76118912  57.13074447  56.07857988  83.19906071
  96.83695853  70.13233812  70.17740847  78.78949918  94.78093918
  68.19517229  62.21358718  69.86377141  68.10976859  75.04736612
  56.18821782  71.09043529  64.06523706  85.85256     49.90935876
  80.07443153  76.84509735  64.08243635  61.07881824  65.85731329
  76.15274465  62.06510865  63.05780835  72.88020612  58.18664753
  82.19324859 114.83573647  85.75174876  63.77325035  57.08301741
  53.16345506  77.12317665  52.13782724  64.05360088  54.75036018
  61.13467912  65.20118947  73.90778947  43.78401029  62.11101206
  80.14772941  83.21470647  66.91366753  68.15590859  78.75640594
  68.19207812  78.76103712  68.18052524  83.85498476  50.84815894
  73.762315    59.20691747  80.14741088  85.20716259  52.13458741
  62.08395712  73.91502288  74.16389476  77.21477824  77.81791788
  70.11809371  78.05065941  80.08302871  52.07562665  53.21070771
  77.83483165  52.16094829 113.18804941  70.11354841  75.10784912
  88.89191929  67.84843588  60.81641824  52.09577729  60.05144982
  82.77255247  60.07188147  65.82792635  82.16018559  61.12352206
  64.16870671  90.07095571  85.79235529  76.21422847  87.14089812
  84.16974941  48.88112182  78.11156965  50.06989541  62.14604841
  60.13226318  48.12033118  50.08032547  88.17525771  56.20876765
  69.09394282  59.91525547 106.84796412  67.04571265  53.18904888
  66.81054465  49.88711576  85.04228624  70.17223088  91.17774935
  77.08522906  93.87565053  60.15419624  80.08708776 129.91304647
  55.06070647  60.16534776  95.83629982  71.07439629  63.21134918
 101.75356    152.82193353  93.16186947  84.19542812  54.75267259
  88.88079318  97.81081506  56.10073624  97.84110235  60.13122671
  91.07263371  77.79316906  80.04631424  50.161462    73.15758771
  62.86776088  78.12932629  82.19393259  74.13010412 129.78376588
  55.75525782  80.85447424  80.809671    61.19767794  99.78416688
  77.91986682 107.75251941 104.03925    108.79623882  54.827338
  81.14223576  78.08684906  90.116103    75.771056    65.11481582
  65.79750988  81.91779182 113.89483059  99.82641159 104.08448118
 126.89719706 137.90072765 110.82648824 106.21402235  77.90480188
  56.78088318  98.87584059  95.79659853  64.90546094  59.85476224
  62.13530194  65.86766065  79.87744547 106.91881765 103.88314059
 117.05877294  81.82786259 102.88000471  89.83878629 116.86175824
  52.75228371  65.04741553]

In [39]:
display(dados)
print(sum(dados["hr_final"] == dados["hr_final_mult"]))

,gender,age,risk_factors,systolic_bp,s_hr,st_segment,ecg_hr,creatinine,killp,event,hr_final,hr_final_mult
0,1.0,33.0,0.0,132.0,92.266205,1.0,90.0,0.8,1.0,0.0,90.133306,90.133306
1,1.0,69.0,0.0,147.0,54.178624,0.0,52.0,1.4,1.0,0.0,52.128154,52.128154
2,1.0,63.0,0.0,142.0,41.364843,1.0,44.0,1.1,3.0,1.0,43.844991,43.844991
3,0.0,79.0,0.0,147.0,107.379000,1.0,110.0,0.9,1.0,1.0,109.845824,109.845824
4,0.0,61.0,0.0,107.0,83.224808,0.0,80.0,1.1,1.0,0.0,80.189695,80.189695
...,...,...,...,...,...,...,...,...,...,...,...,...
452,1.0,69.0,0.0,95.0,100.960080,0.0,103.0,1.6,3.0,1.0,102.880005,102.880005
453,1.0,51.0,1.0,140.0,87.259367,1.0,90.0,1.0,3.0,1.0,89.838786,89.838786
454,0.0,57.0,0.0,120.0,114.649890,0.0,117.0,1.0,3.0,1.0,116.861758,116.861758
455,1.0,87.0,0.0,149.0,48.788823,1.0,53.0,1.4,1.0,1.0,52.752284,52.752284
456,1.0,72.0,0.0,173.0,65.806064,1.0,65.0,1.2,1.0,0.0,65.047416,65.047416

403